  /* universal
  -------------------------*/
  *{
    margin:0;
    padding:0;
    border:0;
  }




  /*section profile 
  -----------------------*/
  h1{
    font-size:100px;
  }
  .profile{
    color:white;
    padding:100px;
    text-align:center; 
    background-image:url(https://th.bing.com/th/id/OIP._ry7NPzq1rOseJS66mOxqQHaEo?pid=ImgDet&rs=1);
  }





  /*section2 navbar 
  ----------------------------------*/

  table,th,td{
    padding: 2px 25px;
    background-color:rgb(182, 173, 173);
    font-size:18px;
  }
  table{
    width:100%;
    text-align:center;
    opacity:100%;
  }

  .link1{
    color: black;
    font: size 15px; 
    text-align:center;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    font-style: "Lucida Console", "Courier New", monospace;
    opacity:60%;

  }







  /*section3 details
  -----------------------------------------------*/

  .DETAILS{
    padding: 130px 280px ;
    background-image:url(https://th.bing.com/th/id/OIP.ISFpFQFPIEyWnAx6a2R6wQHaEK?pid=ImgDet&w=1280&h=720&rs=1);

  }

  form{
    color:white;
  /*   padding:100px 100px; */
    background-color:silver;
    font: size 2px; 
  /*   text-align:left; */
    opacity:50%;
  }
  h2{
    font-size:40px;
    text-align:center;
    opacity:70%;
    color:white;
  }

  .form_table{
    background-image:none;
    padding: 14px; 
  /*   opacity:75%; */
    color:black;
    text-align:left;

  }


  /*section 4   contact details
  ------------------------------------*/
  .about_us{
    padding: 1px; 
    background-image:url( https://th.bing.com/th/id/OIP.uaSklut-OLXBRUwh799YbAHaEK?pid=ImgDet&rs=1);
    opacity:95%;
  }
  
  .h2_about{
    color:silver;
    font-size:40px;
    opacity:30%;
    text-align:center;
    padding:20px;
    height:0vh;

  }
  .contact{
    opacity:100;
    font-size:50px;
    text-align:center;
  }

  .links{
    color:silver;

    font-size:25px;
    text-align:center;
    padding: 20px 15px;
    text-align: center;
    text-decoration: solid;
    opacity:70%;
  /*   hover-color:blue; */
  }
  .us{
    color:yellow;
    text-align:right;
    opacity:30%;
    padding:4px;
  }